# should be set in a ~/.zshrc.local

export TF_VAR_proxmox_api_token="mytoken"
export TF_VAR_proxmox_worker_api_token="mytoken"
export KUBECONFIG=/home/user/Code/home-infra/infra/ansible/kubeconfig-homelab
export TF_VAR_proxmox_root_password="mysupersecurepassword"
